<footer class="footer">
  <div class="social-media">
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-x-twitter"></i>
  </div>
  <div class="trademark">&copy; 2025 Staycation, inc.</div>
  <div class="footer-additionals">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
</footer>
